server:
  port: 8100

spring:
  cloud:
    gateway:
      # 路由 CORS 配置
      globalcors:
        cors-configurations:
          '[/**]': # 匹配所有路径
            allowedOriginPatterns: "*" # 允许请求来源
            allowedHeaders: "*" # 允许携带的头信息
            allowedMethods: "*" # 允许的请求方式
            allowCredentials: true # 允许的请求方式
            maxAge: 3600 # 跨域检测的有效期（单位：秒；在这段时间内，浏览器不会对同一跨域请求再次发起预检请求，而是直接使用缓存的结果进行后续的请求操作）

      # 路由配置
      routes:
        # auth 模块
        - id: e-dove-auth
          uri: lb://e-dove-auth
          predicates:
            - Path=/auth/**
        # user 模块
        - id: e-dove-user
          uri: lb://e-dove-user
          predicates:
            - Path=/user/**
        # store 模块
        - id: e-dove-store
          uri: lb://e-dove-store
          predicates:
            - Path=/store/**, /shelf/**
        # parcel 模块
        - id: e-dove-parcel
          uri: lb://e-dove-parcel
          predicates:
            - Path=/parcel/**
        # assistant 模块
        - id: e-dove-assistant
          uri: lb://e-dove-assistant
          predicates:
            - Path=/assistant/**

edove:
  uri:
    # 验证jwt接口
    jwt-auth: lb://e-dove-auth/auth/validate

# 健康检测，访问 http://地址:8100/actuator/health
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
